In [8]:
num1 = input('첫 번째 숫자')
num2 = input('두 번째 숫자')

In [9]:
num1 = int(num1)
num2 = int(num2)

In [10]:
result = num1 + num2
print(result)

5

In [29]:
diary = '오늘은 아빠와 함께 코딩을 배우는 시간을 가졌다. 아빠가 가르쳐준 간단한 코드를 작성하는 것을 배웠다. 이전에는 이것이 얼마나 두려울까 걱정했었는데, 실제로는 그렇게 어렵지 않았다. 아빠는 선생님처럼 나를 가르쳐주었고, 나는 아빠의 지도를 받으며 열심히 코딩을 배웠다. 아빠와의 코딩 수업은 즐거웠다. 앞으로도 더 많은 것을 배우고싶다.'

In [31]:
result = diary.replace('. ', '.\n')
print(result)

오늘은 아빠와 함께 코딩을 배우는 시간을 가졌다.
아빠가 가르쳐준 간단한 코드를 작성하는 것을 배웠다.
이전에는 이것이 얼마나 두려울까 걱정했었는데, 실제로는 그렇게 어렵지 않았다.
아빠는 선생님처럼 나를 가르쳐주었고, 나는 아빠의 지도를 받으며 열심히 코딩을 배웠다.
아빠와의 코딩 수업은 즐거웠다.
앞으로도 더 많은 것을 배우고싶다.

In [ ]:
data = '''I am a boy.
you are a girl.
we like coding.'''

In [37]:
result = data.split('\n')

In [38]:
result

['I am a boy.', 'you are a girl.', 'we like coding.']

In [40]:
result[0]

'I am a boy.'

In [6]:
a = [1,4,7]
b = [2,3,6]
ab_max = max((a))
ab_max

7

In [9]:
a, b, c, d, e = 1, 2, 4, 3, 5
values = [a, b, c, d, e]
sorted_values = sorted(values)
a, b, c, d, e = sorted_values
print(a, b, c, d, e)

1 2 3 4 5

In [49]:
cap_dict = {'한국': '서울', '미국': '워싱턴', '영국': '런던'}
nation = input('나라 이름:')
result = cap_dict[nation]
print(f'{nation} 의 수도는 {result} 입니다')

영국 의 수도는 런던 입니다

In [45]:
NUMBERS = [1, 2, 3, 4, 5]

In [28]:
NUMBERS[3]

4

In [29]:
NUMBERS[1]

2

In [35]:
A = int(input('숫자를 입력해 주세요'))

In [ ]:
NUMBERS[A]

5